body {
    background-color: #ffffff;
    font-size: 16px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;
    margin: 10px;
}

header {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF;
    font-size:  24px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

footer {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-top: 1px solid #AFAFAF;
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #00D2D5;
}

.table_header { font-weight : bold; background-color:#ddd; }
.table_odd_row { background-color:#bbb; }
.table_even_row { background-color:#fff; }

.isa_info, .isa_success, .isa_warning, .isa_error {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;-moz-border-radius:.5em;-webkit-border-radius:.5em;
    border-radius:.5em;
}

.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('images/info.png');
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('images/success.png');
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('images/warning.png');
}
.isa_error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('images/error.png');
}

.facebook,.headquaters{clear:both}
.facebook{margin:0 0 44px 0}
.facebook img{margin:-5px 17px 0 0}
.facebook a{color:#b4809e!important;text-decoration:none}
.facebook a:hover{color:#fff!important;text-decoration:underline}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF;
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

.h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF;
    font-size:  24px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: underline;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}


#body { margin: 0; padding: 0; font-family: Trade Gothic, Arial, Helvetica, sans-serif; font-size: 13px; color: #003366;	text-decoration: none; line-height: 16px; background-color: #f3eddd; }

#h1, h2, h3, h4, h5 { font-family: Helvetica, Arial, Verdana, sans-serif; font-weight: bold; margin: 0; padding: 0; }
#h1 { text-align: left;	font-size: 25px;	padding: 0 0 12px 0;	margin: 0; line-height: 21px;	color: #003366;	text-transform:uppercase;}
#h2 { text-align: left; font-size:18px;	padding: 0 0 2px 0; margin: 0; margin-bottom: 5px; color: #003366; text-transform:uppercase; border-bottom: 1px solid #ccc; }

#ul { margin: 0; padding: 0 0 10px 15px;}
#li { margin: 0; padding: 0; font-family: Trade Gothic, Arial, Helvetica, sans-serif; font-size: 13px; /* color: #ff9900; */ list-style-position: outside; list-style-type: square; line-height: 18px; }
#li span { color: #003366;}
.bluetext { color: #003366;}
#p { margin: 0;	padding: 0 0 15px 0;}
#a { font-size: 12px; text-decoration: underline; color: #003366; font-weight: bold;}
#a:hover { text-decoration: none;}
.boldLink { font-size: 12px; text-decoration: underline; font-weight:bold; color: #003366;}
.boldLink:hover { text-decoration: none; }
.orangeBold { font-size: 12px; font-weight:bold; color: #ff9900;}
#outerContainer { margin: auto; padding: 0; width: 865px; background-image:url('/images/bg.gif'); background-repeat:repeat-y;}
#innerContainer { margin: auto; padding: 0; width: 859px; background:#FFFFFF;}

div#subNavigationContent ul li { color: #ff9900; }

#buttonContainer { margin: 0; padding: 0; height: 40px; width: 275px; background-image:url('/images/buttonLeft.gif'); background-repeat:repeat-x; }
#buttonContainer .textContainer { margin: 0; padding: 0 0 0 24px; height: 40px; background-image:url('/images/buttonRight.gif'); background-position:right; background-repeat:no-repeat; }
#buttonContainer a { font-size: 12px; line-height: 40px; text-decoration: none; color: #003366; font-weight: bold; }
#buttonContainer a:hover { text-decoration: underline;}
#top { margin: 0;padding: 0;width: 859px;}
#topLeft {	margin: 0;	padding: 0;	width: 705px;	float:left;}
#topRight { margin: 0; padding: 0; width: 154px; height: 88px; float:right; background-image:url(/images/toprightbg.gif); background-repeat:no-repeat; }
#topRight ul { padding: 7px 0 0 10px;margin: 0;}
#topRight li { padding: 0; margin: 0; list-style-position: inside; list-style-type: square; color: #fcb040;}
#topRight a { font-size: 11px; font-weight: bold; color: #003366; text-decoration: none;	}
#topRight a:hover { font-size: 11px; font-weight: bold; color: #003366;	text-decoration: underline; }
.clr { clear:both; }
#nav { margin: 0; padding: 0; width: 859px; height: 34px; background:url(/images/navBg.gif); }


#tanline { margin: 0; padding: 0; width: 859px; height: 5px; background:url(/images/tanLine.gif); background-repeat:repeat-x; }

/* ================================================================
This copyright notice must be untouched at all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.cssplay.co.uk/menus/final_drop.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any
way to fit your requirements.
=================================================================== */

.menu {width:859px; position:relative; z-index: 100;}
/* hack to correct IE5.5 faulty box model */
* html .menu {width:859px; w\idth:858px;}
/* remove all the bullets, borders and padding from the default list styling */
.menu ul {padding:0;margin:0;list-style-type:none;}
.menu li {list-style-type:none;}
.menu ul ul {width:149px; padding-left:20px;}
/* float the list to make it horizontal and a relative positon so that you can control the dropdown menu positon */
.menu li {float:left;position:relative;}

/* style the links for the top level */
.menu a, .menu a:visited {display:inline;font-size:11px;text-decoration:none; color:#fff; height:30px; padding-left:10px; line-height:30px;}
.menu ul ul a, .menu ul ul a:visited {display:block;font-size:11px;text-decoration:none; color:#fff; height:30px; padding-left:10px; line-height:28px;}
/* a hack so that IE5.5 faulty box model is corrected */
* html .menu a, * html .menu a:visited {}

/* style the second level background */
.menu ul ul a.drop, .menu ul ul a.drop:visited {background:#003366;}
/* style the second level hover */
.menu ul ul a.drop:hover{background:#003366}
.menu ul ul :hover > a.drop {background:#003366}
/* style the third level background */
.menu ul ul ul a, .menu ul ul ul a:visited {background:#003366;}
/* style the third level hover */
.menu ul ul ul a:hover {background:#003366;}

/* hide the sub levels and give them a positon absolute so that they take up no room */
.menu ul ul {visibility:hidden;position:absolute;top:28px;left:0; width:149px;}
/* another hack for IE5.5 */
* html .menu ul ul {top:28px;t\op:28px;}

/* position the third level flyout menu */
.menu ul ul ul{left:149px; top:-1px; width:149px;}

.menu ul ul li {border-bottom: 1px solid #e5e5e5;}
.menu ul ul li {border-left: 1px solid #e5e5e5;}
.menu ul ul li {border-right: 1px solid #e5e5e5;}

/* position the third level flyout menu for a left flyout */
.menu ul ul ul.left {left:-149px;}

/* style the table so that it takes no ppart in the layout - required for IE to work */
.menu table {position:absolute; top:0; left:0; border-collapse:collapse;}

/* style the second level links */
.menu ul ul a, .menu ul ul a:visited {background:#003366; color:#fff; height:auto; line-height:1em; padding:6px 6px; font-size:14px; width:128px;}
/* yet another hack for IE5.5 */
* html .menu ul ul a, * html .menu ul ul a:visited {width:150px;w\idth:128px;}

/* style the top level hover */
.menu a:hover, .menu ul ul a:hover{color:#fff; background:none; text-decoration:none;}
.menu :hover > a, .menu ul ul :hover > a {color:#fff;background:none; text-decoration:none;}

.menu ul ul a:hover{color:#fff; background:#6699cc; text-decoration:none;}
.menu ul ul :hover > a {color:#fff;background:#6699cc;text-decoration:none;}

/* make the second level visible when hover on first level list OR link */
.menu ul li:hover ul,
.menu ul a:hover ul{visibility:visible; }
/* keep the third level hidden when you hover on first level list OR link */
.menu ul :hover ul ul{visibility:hidden;}
/* make the third level visible when you hover over second level list OR link */
.menu ul :hover ul :hover ul{ visibility:visible;}

#mainContainer{	margin: auto; padding: 10px 0 10px 0;	width: 859px; background:#FFFFFF; }
#leftColumn { margin: 0; padding: 0; width: 247px; float:left; z-index:-1; }
#leftColumn a {	font-size: 12px; text-decoration: none; color: #003366;	font-weight: normal; }
#leftColumn a:hover { font-size: 12px; text-decoration: underline; color: #003366;	font-weight: normal;}
#rightColumn { margin: 0; padding: 0; width: 247px; float:right; }

#onlineBanking { margin: 0; padding: 0; width: 247px; background-color: #003d7c; background-image:url(/images/onlinebankingBg.gif); background-repeat:no-repeat; background-position:top; }
#onlineServices { margin: 0; padding: 0; width: 247px; background-color: #003d7c; background-image:url(/images/onlineservicesBg.gif); background-repeat:no-repeat; background-position:top; }
#onlineBankingContent { margin: 0; padding: 35px 0 0 17px; width: 216px; font-size: 12px; color: #FFFFFF;}
#onlineBankingContent a { font-size: 12px; color: #ff9900;	text-decoration:none;}
#onlineBankingContent a:hover { font-size: 12px; color: #ff9900; text-decoration:underline; }
#subNavigation { margin: 0 0 0 7px; padding: 0; width: 240px; background-image:url(/images/leftnavBg.gif); background-repeat:repeat-y; }
#subNavigationHeader { margin: 0; padding: 0; width: 240px; background-image:url(/images/leftnavTop.gif); background-repeat:no-repeat; }
#subNavigationContent {	margin: auto; padding: 10px 10px 0 10px; width: 216px; font-size: 12px; color: #FFFFFF; }
.smallerWhite {	font-size: 14px; line-height: 15px; color: #ffffff; font-weight: bold; }

#quickLinks { margin: auto; padding: 0; width: 236px; }
.orangeHeader{ font-size:22px;	line-height: 24px; color: #ff9900;	}
#quickLinks .line { padding: 0; margin: 0; width: 236px; height: 2px; border-top:#999999 solid 1px; }
#mainContent { margin: 0; padding: 0 10px 0 0; width: 588px; float:right; }

/*
Quote
-------------------------*/
.bodyLeftContainer { margin: 0; padding: 0; width: 350px; float: left; }
.bodyRightContainer { margin: 0; padding: 0; width: 215px; float: right; }
.bodyImage { margin: 0 0 0 10px; padding: 6px; background: url(/images/img-roundedbg.gif); background-repeat: no-repeat; width: 152px; float:right; }
.caption { margin: 0; padding: 7px 0 0 0; color:#666666; }
.sideContainer { margin: 0; padding: 0; width: 215px; background: url(/images/quotebg.gif); background-repeat:repeat-y; }
.quoteContents { margin: 0 8px 0 7px; padding: 0; width: 200px; }
.quoteTop { margin: 0; padding: 0; width: 200px; font: Arial, Helvetica, sans-serif; font-size: 18px; color:#666666; line-height: 18px; }
.quoteBottom { margin: 0; padding: 5px 0 0 0; width: 200px; }
.author { margin: auto; padding: 0; width: 200px; font:Arial, Helvetica, sans-serif; font-size: 12px; color:#666666; line-height: 12px; }
.author a { color:#FF9900; }

#homepageModules { margin: 0; padding: 0; width: 586px; background-image:url(/images/modulemainBg.gif); background-repeat:repeat-y; }
#homepageModules ul { margin: auto; padding: 0; width: 580px; }
#homepageModules li { margin: 0; padding: 0; width: 190px; list-style:none; list-style-type:none; float:left; background-image:url(/images/moduleBg.jpg); background-repeat: no-repeat; }
#homepageModules .content { margin: auto; padding: 5px 0 0 0; width: 172px; font-family:Arial, Helvetica, sans-serif; font-size: 12px; color:#333333; line-height: 15px; }

#breadcrumb { margin: 3px 0 13px 0; }
#breadcrumb a { text-decoration: underline; }
#breadcrumb a:hover { text-decoration: none; }
#breadcrumb .offtext { font-size: 12px; text-decoration: none; color: #999999; }

#submainheaderPersonal { margin: 0; padding: 0; width: 588px; background-image:url(/images/subhd-lbluebg.gif); background-repeat:no-repeat; background-position:top; }
#submainheaderBusiness { margin: 0; padding: 0; width: 588px; background-image:url(/images/subhd-bluebg.gif); background-repeat:no-repeat; background-position:top; }
#submainheaderCommunity { margin: 0; padding: 0; width: 588px; background-image:url(/images/subhd-orangebg.gif); background-repeat:no-repeat; background-position:top; }
#submainheaderPersonal .left { margin: 0; padding: 0; width: 500px; float:left; }
#submainheaderPersonal .right { margin: 0; padding: 12px 0 0 0; width: 88px; float:right; }
#submainheaderPersonal form { margin: 0; padding: 0; }
#submainheaderBusiness .left { margin: 0; padding: 0; width: 500px; float:left; }
#submainheaderBusiness .right { margin: 0; padding: 12px 0 0 0; width: 88px; float:right; }
#submainheaderBusiness form { margin: 0; padding: 0; }
#submainheaderCommunity .left { margin: 0; padding: 0; width: 500px; float:left; }
#submainheaderCommunity .right { margin: 0; padding: 12px 0 0 0; width: 88px; float:right; }
#submainheaderCommunity form { margin: 0; padding: 0;}
.orangeHeader { font-size:22px;	color: #ff9900;	}

.pillContainer { margin: 0; padding: 0; width: 100%; height: 28px; background:url(/images/pill-bg.gif); font-family: Trade Gothic, Arial, Helvetica, sans-serif; font-size: 16px; line-height:  28px; font-weight: bold; color: #FFFFFF; }
.pillLeft { margin: 0; padding: 0 0 0 10px; float:left; background:url(/images/pill-left.gif); background-repeat:no-repeat; }
.pillRight { margin: 0; padding: 0; width: 7px; float: right; }

#footer { margin: auto; padding: 0; width: 865px; height: 68px; background:url(/images/footer-bg.gif); color: #999999; }
#footerMFG { margin: auto; padding: 0; width: 865px; height: 110px; background:url(/images/bg-footer-mfg2012.gif); color: #999999; }
#footerContainer { margin: auto; padding: 0; width: 845px; }
#footerLeft { margin: 0; padding: 0; width: 238px; float: left; }
#footerLeft img { margin: 12px 0 0 0; }
#footerRight { margin: 0; padding: 0; width: 607px; float: right; }
#footerNav { margin: 9px 0 0 0; padding: 0; width: 375px; float: left; }
#footerPhone { margin: 12px 0 0 0; padding: 0; width: 232px; float: right; }
#footer a { font-size: 11px; text-decoration: none; color: #999999; font-weight: normal; }
#footer a:hover { font-size: 11px; text-decoration: underline; color: #999999; }
#footer .largeText { font-size: 18px; color: #999999; font-weight:bold; line-height: 14px;}
#bottomText { margin: auto; padding: 0; width: 865px; height: 50px; font-size: 11px; color: #999999; }

#footerMFG #footerRight { width: 100%; }
#footerMFG #footerNav { margin:0; padding:0; }
#footerMFG #footerNav p { width: 550px; text-align: center; font-size:8pt; line-height: 9pt; color: #036; padding-top:56px; padding-bottom: 0; }
#footerMFG #footerNav p a { font-size: 8pt; color: #036; font-weight: normal; }

#gradient-style {	font-family: Arial, Sans-Serif;font-size: 12px;	margin: 0;	width: 588px;	text-align: left;	border-collapse: collapse;}
#gradient-style th {	font-size: 13px;	font-weight: normal;	padding: 8px;	background: #003d7c url('/images/chartGrade1.jpg') repeat-x;border-top: 2px solid #fff;	border-bottom: 1px solid #fff; border-right: 1px solid #fff; color: #fff;}
#gradient-style .leftCorner{	background: #003d7c url('/images/chartLeftCorner.jpg') no-repeat top left;}
#gradient-style .rightCorner{	background: #003d7c url('/images/chartRightCorner.jpg') no-repeat top right;}
#gradient-style td {	padding: 8px; border-bottom: 1px solid #fff;	color: #003d7c;	border-top: 1px solid #fff;	border-right: 1px solid #fff;	background: #fff url('/images/chartGrade2.jpg') repeat-x bottom;}
#gradient-style tfoot tr td{	background: #eeeeee;	font-size: 11px;color: #999;}
#gradient-style tfoot tr td li {	font-size: 11px;color: #999;	list-style-image: none;	list-style-type: decimal;	list-style-position:outside;}
#gradient-style tbody tr:hover td {	background: #d0dafd url('/images/gradhover.png') repeat-x;color: #003d7c;}

#gradient-style td { vertical-align: top; }
#gradient-style td ol { margin-top: 0; padding-top: 0; }

.clearfix { clear: both; }

a#online_learn_more { display: none; }

div#homepageModules ul li div.content div { min-height:100px; height:auto !important; height:100px; }

ul.sitemap { margin: 0 0 20px 20px; }

/*Main content area*/
.cTimeValue, .cTimeValue INPUT, .cTimeValue P, .cTimeValue UL, .cTimeValue FIELDSET { font-family: 'verdana' , 'arial' , 'helvetica'; font-size: 10pt; }
.cTimeValue H2, .cTimeValue H3 { font-family: 'verdana' , 'arial' , 'helvetica'; font-size: 12pt; padding-top: 20px; }
.cTimeValue #COMPUTE { color: #444444; font-family: 'verdana' , 'arial' , 'helvetica'; font-size: 10pt; font-weight: bold; }

/*Amortization Table*/
.cTimeValue .cAmortTitleFont { font-weight: bold; }
.cTimeValue .cAmortTable TD { padding: 5px; font-size: 9pt; font-family: Arial; text-align: right; }
.cTimeValue .cAmortHeader TD { border-top: #dedfef 1px solid; border-bottom: #dedfef 2px solid; font-weight: bold; background-color: #eeeeee; text-align: center; }
.cTimeValue .cAmortLineE TD { background-color: #F7F7F8; }
.cTimeValue .cAmortLineTotals TD { font-weight: bold; color: black; border-top: double 3px black; }

p.field { padding-bottom: 12px; }
p.field label { display: block; padding-bottom: 1px; }
